*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*
    Widget
*/

.c-white{
    color: #FFF;
}

.d-none{
    display: none;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    background-color:#333;;
}

.aviso{
    color: #999;
}

.limpar-input{
    top: 2px;
    left: -15px;
    cursor: pointer;
    z-index: 10000;
}

.buscar input, .buscar button{
    padding: 8px 15px;
    outline: none;
    border-radius: 5px;
    border: none;
}

.buscar input{
    padding-left: 4px;
    min-width: 220px;
    position: relative;
    left: 8px;
}

.buscar button{
    cursor: pointer;
    color: #FFF;
    background-color: #444;
    position: relative;
    right: 8px;
}

.buscar button:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

.container-dados{
    min-width: 300px;
    text-align: center;
    border: 1px solid #AAA;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: 0.2s all;
}

.container-temperatura-vento{
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 10px;
}

.titulo-temp,.titulo-vento{
    font-size: 18px;
    color: #666;
}

.dados-temp, .dados-vento{
    font-size: 30px;
}

.dados-temp sup{
    font-size: 20px;
}

.temperatura,.vento{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.temperatura img{
    width: 90px;
    height: auto;
}

.vento-area{
    border: 1px solid #FFF;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    padding-top: 30px;
    padding-left: 30px;
}

.vento-ponteiro{
    width: 20px;
    height: 1px;
    background-color: #FFF;
    transform-origin: left;
}

@media (max-width: 400px){

    .buscar input,.container-dados{
        min-width: 0px;
    }

    .dados-temp, .dados-vento{
        font-size: 25px;
    }

}